<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Fandom Feud</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
  <nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo" /></a>
    </div>
    <div class="navbar-start">
      <div class="navbar-menu is-active has-background-primary">
        <a class="navbar-item" id="loginButton" href="/login">Login</a>
        <a class="navbar-item" id="signupButton" href="/signup">Sign up</a>
      </div>
    </div>
  </nav>

  <div class="content m-5" id="errorMessageContainer" class='hidden'>
    <h3><span class="has-text-danger" id="errorMessage"></span></h3>
  </div>

  <section class="content" id="content">

  </section>

  <script src="/assets/loginBundle.js"></script>
</body>

</html>